@page
@model csci340_iseegreen.Pages.Search.IndexModel

@{
    ViewData["Title"] = "Search";
}
<br>

<div id="header_box">
    <h1 id="search_heading">Search</h1>
</div>

@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (!string.IsNullOrEmpty(Model.StatusMessage))
{
    <div class="alert alert-info">
        @Model.StatusMessage
    </div>
}

<form method="get">
    <p>
        <select class="custom_select" asp-for="CategoryFilter" asp-items="Model.Categories">
            <option id="op" value="">Category</option>
            @foreach ((string cat, string desc) in Model.CategoryOptions)
            {
                <option value="@cat">@desc</option>
            }
        </select>
        
        <input type="text" id="famsearch" placeholder="Family" asp-for="FamilyString" />
        <input type="text" id="genussearch" placeholder="Genus" asp-for="GenusString" />
        <input type="text" id="speciesearch" placeholder="Species" asp-for="SearchString" />
        
        <input type="submit" value="Apply Filters"/>
        <a href="./Search">Clear</a>
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th id="check"></th>
            <th id="cat">
                @Html.DisplayNameFor(model => model.Taxa[0].Genus.Family.Category)
            </th>
            <th id="family">
                @Html.DisplayNameFor(model => model.Taxa[0].Genus.Family)
            </th>
            <th id="genus">
                <a asp-page="./Index" asp-route-sortOrder="@Model.GenusSort">
                    @Html.DisplayNameFor(model => model.Taxa[0].Genus)
                </a>
            </th>
            <th id="species">
                <a asp-page="./Index" asp-route-sortOrder="@Model.SpeciesSort">
                    @Html.DisplayNameFor(model => model.Taxa[0].SpecificEpithet)
                </a>
            </th>
            <th id="infra">
                @Html.DisplayNameFor(model => model.Taxa[0].InfraspecificEpithet)
            </th>
            <th id="rank">
                @Html.DisplayNameFor(model => model.Taxa[0].TaxonRank)
            </th>
            @if (SignInManager.IsSignedIn(User))
            {
                <th id="addList">Add To List</th>
            }
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Taxa)
    {
        <tr>
            <td id="check">
                <a class="popup" id="plus" asp-page="./Details" asp-route-KewID="@item.KewID">&#x2795</a>
            </td>
            <td id="cat">
                @Html.DisplayFor(modelItem => item.Genus.Family.Category.Description)
            </td>
            <td id="family">
                @Html.DisplayFor(modelItem => item.Genus.FamilyID)
            </td>
            <td id="genus">
                @Html.DisplayFor(modelItem => item.GenusID)
            </td>
            <td id="species">
                @Html.DisplayFor(modelItem => item.SpecificEpithet)
            </td>
            <td id="infra">
                @Html.DisplayFor(modelItem => item.InfraspecificEpithet)
            </td>
            <td id="rank">
                @Html.DisplayFor(modelItem => item.TaxonRank)
            </td>
            @if (SignInManager.IsSignedIn(User))
            {
                <td id="addList">
                    <form method="post" asp-page-handler="AddList">
                        <input type="hidden" asp-for="SelectedKewId" value="@item.KewID" />
                        <select asp-for="SelectedListId">
                            <option value="">Select List</option>
                            @foreach (var list in Model.SelectList)
                            {
                                if (list.OwnerID == UserManager.GetUserId(User))
                                {
                                    <option value="@list.Id">@list.Name</option>
                                }
                            }
                        </select>
                        <button type="submit" class="btn btn-sm btn-primary">Add</button>
                    </form>
                </td>
            }
        </tr>
    }
    </tbody>
</table>

@{
    var prevDisabled = !Model.Taxa.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Taxa.HasNextPage ? "disabled" : "";
}

<a id="prevnex"
   asp-page="./Index"
   asp-route-pageIndex="@(Model.Taxa.PageIndex - 1)"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-currentFilter="@Model.CurrentFilter"
   asp-route-CategoryFilter="@Model.CurrentCat"
   class="btn btn-primary @prevDisabled">
    Previous
</a>
<a id="prevnex"
   asp-page="./Index"
   asp-route-pageIndex="@(Model.Taxa.PageIndex + 1)"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-currentFilter="@Model.CurrentFilter"
   asp-route-CategoryFilter="@Model.CurrentCat"
   class="btn btn-primary @nextDisabled">
    Next
</a>